.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
}

.wrapper > * {
    padding: 20px;
}

.page-main {
    flex-grow: 1;
}

.navCard{
    height: 35px;
}

.navDiv{
    display: flex;
    flex-direction: row-reverse;
}

.main{
    display: flex;
    flex-direction: row;
}

.chart-container{
    
}

.footerButtons{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    justify-content: space-between;
}

.p-button-outlined,
.p-button {
    margin-right: 10px;
}
   