<div class="microservce-card">
    <div class="microservice-card__name">
        Solution - {{ microservice.name }}
    </div>    

    <div class="microservice-card__data">
        <div class="microservice-card__number">
            N° {{ leadingZero(microservice.number) }}
        </div>
    
        <div class="microservice-card__types">
            <div class="microservice-card__type" 
                *ngFor="let type of microservice.types"
                [class]="'microservice-card__type--' + type.toLowerCase()">{{type}}</div>
        </div>
    </div>
    
    <div class="microservice-card__evaluation">
        <po-dropdown name="evaluation-select" id="evaluation-select" p-tooltip="Classification" p-tooltip-position="top"
            [p-actions]="[
                            {label:'Bad'},
                            {label:'Median'},
                            {label:'Good'},
                            {label:'Very good'},
                         ]">
        </po-dropdown>
    </div>

    <div class="microservice-card__open-solution">
        <po-button type="button" id="open-solution-button" p-type="default"
                   p-icon="po-icon-eye" p-label="Open Solution"></po-button> 
    </div>

    <div class="microservice-card__submit">
        <po-button type="button" id="submit-button" p-type="primary"
        p-label="Submit"></po-button> 
    </div>
</div>
