:host{
    background: #F2F2F2;
    border-radius: 5px;
    font-family: "Signika", arial, sans-serif;
    margin: 0 .78125% 50px;
    width: 220px;
    height: 250px;
    place-items: center;
}

.microservce-card{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.microservice-card__data{
    display: flex;
    flex-direction: row;
    height: 70px;
}

.microservice-card__number,
.microservice-card__name{
    padding: 0 10px;
}

.microservice-card__number{
    color: #313131;
    font-size: 80%;
    padding-top: 2px;
    width: 110px;
}

.microservice-card__name{
    color: #313131;
    font-size: 145%;
    margin-bottom: 5px;
}

.microservice-card__types{
    display: flex;
}

.microservice-card__type{
    margin: 0 10px;
    padding: 5px;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    float: right;
    text-transform: none;
    font-size: 11px;
    text-align: center;
    height: 30px;
}

.microservice-card__type--evaluated{
    background-color: greenyellow;
    
}

.microservice-card__type--not{
    background-color: red;
    color: antiquewhite;
}